/* Body styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/Mech1.jpg');
  }
  
  /* Header styles */
  header {
    background-color: darkslategrey;
    color: white;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  nav {
    float: right;
    border-radius: 50%;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.5s;
    border-radius: 50%;
  }
  
  nav a:hover {
    background-color: black;
    border-radius: 50%;
  }
  
  nav .active {
    background-color: black;
    border-radius: 50%;
  }
  
  /* Main styles */
  main {
    margin: 20px auto;
    width: 80%;
    text-align: center;
  }
  
  h2 {
    color: darkslategrey;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .faculty {
    display: inline-block;
    width: 300px;
    background-color: transparent;
    margin: 20px;
    text-align: left;
    padding: 20px;
  }
  
  .faculty img {
    width: 100%;
    border-radius: 50%;
  }
  
  .faculty h3 {
    color: darkred;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .faculty p {
    font-size: 14px;
    margin-bottom: 5px;
    color: aqua;
  }
  
  /* Footer styles */
  footer {
    background-color: darkslategrey;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  footer small {
    font-size: 12px;
  }
  